* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: inherit;
}

.header {
    background-color: yellow;
    width: 100%;
    height: 10vh;
}

.title-logo {
    font-size: 25px;
    position: relative;
    top: 1rem;
    margin-left: 0.5rem;
}

.nav-header {
    display: flex;
    justify-content: space-evenly;
}

.nav-ul {
    display: flex;
    margin-left: 15rem;
}

.nav-ul li {
    padding-left: 1rem;
}
.iconCart{
    position: relative;
    left: 15rem;
    font-size: 25px;
}
.accountant {
    float: right;
    position: relative;
    right: 5rem;
    bottom: 1.3rem;

}
.form-ItemCount{
    margin-left: 30rem;
    position: relative;
    top: 2rem;
}   
.form-input{
    text-align: center;
}
.btn-remove{
    position: relative;
    right: 9rem;
    top: 0.3rem;
    border-style: none;
    background-color: inherit;
    cursor: pointer;
}
.iconRemove,.iconAdd{
    font-size: 18px;
}
.btn-add{
    position: relative;
    top: 0.3rem;
    right: 2.3rem;
    border-style: none;
    background-color: inherit;
    cursor: pointer;
}
